* {
    box-sizing: border-box;
}
.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 400px;
}
.section2,
.section3,
.section4 {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo,
.hero-text,
.hero-subtext,
.white_text,
.signature {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 30px;
}

a,
.hero-subtext {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-button, 
.image {
    width: 50%;
    height: min-content;
}
.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    width: 100px;
    padding: .25em;
    color: #f9faf8;
    font-weight: bold;
}
.footer {
    background-color: #1f2937;
}

.call-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin: 10px;
}

.call-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    margin: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.image_ill {
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.content,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 300px;
    width: 100%;
}

.white_text {
    color: #f9faf8;
}

.section3 {
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    margin: 0px;
}

.signature {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.footer {
    height: 50px;
}
.margin {
    margin-left: 500px;
    margin-right: 500px;
}

img {
    max-width: 100%;
    height: auto;
}